*{
    margin: 0px;
    padding: 0px;
}
.box{
    background: url('/images/background.jpg')no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}
.barmenu{
    width: 100%;
    height: 40px;
    padding-top: 20px;
    border: none solid #000000a8;
    background-color: #000;
    position: absolute;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-bottom: 2px dotted white;
    
}
i{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: 0.9;
}
.icons_left{
    position: left;
    margin-left: 5px;
    word-spacing: 28px;
    position: absolute;
    top: 25%;
    left: 2%;
}
.icons_left:hover{
    opacity: 0.9;
}
i:hover{
    opacity: 0.7;
    cursor: pointer;
}
.icons_right{
    font-weight: 400;
    padding-right: 10px;
    float: right;
    margin-left: 5px;
    word-spacing: 20px;
    position: absolute;
    top: 25%;
    left: 60%;
}
.menu_list{
    width: 100%;
    height: 100%;
    line-height: 100px;
    display: inline-block;
    position: absolute;
    align-items: center;
}
.leftmenu{
    width: 35%;
    line-height: 100px;
    float: left;
    padding-left: 50px;
}
.leftmenu h2{
    width: 50%;
    height: 100%;
    line-height: 100px;
    float: left;
    color: green;
    padding-top: 55px;
    padding-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
}
.rightmenu{
    width: 60%;
    line-height: 100px;
    float: right;
    margin-top: 20px;
    padding-right: 20px;
    align-items: center;
}
.rightmenu ul{
    width: 100%;
    line-height: 100px;
    margin-top: 20px;
    margin-left: 20%;
    display: inline-block;
}
.rightmenu ul li{
    font-family: 'Open Sans', sans-serif;
    line-height: 100px;
    font-weight: normal;
    list-style: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
}

.text{
    width: 100%;
    margin-top: 185px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}
.text h3{
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    font-size: 28px;
    font-weight: 300;
    padding-top: 10%;
    line-height: 45px;
}
.text h1{
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.button_one{
    padding: 15px 60px;
    color: green;
    border-radius: 10px;
    background: white;
    size: 30%;
}

.col {
    float: left;
    padding: 10px;
    margin-top: 50px;
    margin-left: -10px;
    height: 300px;
    border: 1px solid green;
    border-left: none;
}
.left {
    width: 35%;
    border-right: none;
}
.right {
    width: 63%;
}
.fas{
    color: black;
}
.img image{
    width: 35%;
}

.image{
    width: 100%;
    height: inherit;
    margin-left: -15px;
    padding-right: 100px;
    padding-bottom: 12px;
    padding-top:2px;
}
.contain{
    display:flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.contain > div {
    margin: 10px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.botton_one{
    background-color:white;
    color:green;
    border-radius: 1px;
    padding-right: 25px;
    padding-left: 25px;
}
.botton_two{
    background-color: #2ab54f;
    color: white;
    border-radius: 1px;
    padding-right: 25px;
    padding-left: 25px;
}
.days{
    background-color:#2ab54f;
    margin-right: -10px;
    margin-left: -10px;
    margin-top:-8px;
}
.times{
    border-right: 1px solid white; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.days_container {
    display: flex;
    background-color:#2ab54f;
    margin-top: 5px;
    margin-bottom: 1px;
    margin-left: 60px;
    margin-right: 70px;
}

.days_container > div {
    background-color: #2ab54f;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 2px;
    font-weight: 100;
    margin: 10px;
    padding: 10px;
    color: white;
}
.hours{
    margin-right: auto;
    color: white;
    margin-left: 40px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

.col1 {
    float: left;
    padding: 10px;
    height: 300px;
    color:white;
}

.col1 left, .col1 right {
    width: 30%;
}

.middle {
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}
.row,li{
    list-style: none;
    padding-bottom: 10px;
}

form {
    border: 3px solid #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.7;
}

.foot{
    background-color: black;
    margin-right: -10px;
    margin-left: -10px;
}

.container{
    background:transparent;
    border:none;
}
.GREEN{
    color: green;
    font-family: 'Open Sans', sans-serif;
}
.follow{
    width: 40%;
    line-height: 100px;
    font-family: 'Open Sans', sans-serif;
    color: green;
}

.news{
    width: auto;
    line-height: 70px;
    height: 50vh;
    float: right;
    margin-left: 70%;
    font-family: 'Open Sans', sans-serif;
}
.news{
    position: absolute;
    
}
.fab{
    color: green;
}
.copyright{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.Cpy{
    font-family: 'Open Sans', sans-serif;
    color: green;
}
.up{
    text-decoration: none;
    color:white;
    border: none;
    font-size:15px;
    background-color:transparent;
}
